/*Construction Mobile First */
body{
    text-align: center;
}
nav {
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #225332;
    width: 100vw;
    height: 100px;
    position: fixed;
}

nav div {
    text-align: center;
}

button {
    background-color: #225332;
    color: whitesmoke;
    padding: 10px 15px 10px 15px;
    border-radius: 5px;
}

footer {
    color: white;
    display: flex;
    justify-content: space-around;
    position: fixed;
    bottom: 0;
    background-color: #99030C;
    width: 100%;
    height: 100px;
}

#panier {
    background-color: #79977A;
    position: fixed;
    bottom: 100px;
    width: 100%;
    height: 50vh;
}

#panier ul {
    list-style: none;
    padding: 0;
}

.container {
    height: 90%;
    width: 100%;
    padding: 20px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;
}

table {
    margin-bottom: 15px;
    width: 100%;
    text-align: justify;
}

#listeProduit {
    background-color: lightyellow;
    height: 50%;
    width: 90%;
    display: flex;
    flex-flow: column nowrap;
    overflow: scroll;
}

#listeProduit div {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between ;
    align-items: center;
    border: 1px solid black;
    margin: 5px;
    overflow-y: hidden;
}
#listeProduit div:after{
    width: 20%;
}

#listeProduit a {
    width: 20px;
    height: 20px;
    background-color: #424242;
}

footer div {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}

main {
    padding-top: 100px;
    padding-bottom: 100px;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
}

h2 {
    width: 100%;
    text-align: center;
}

h3 {
    margin-top: 0px;
}

/*______________ Style des cards______________ */
article {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-end;
    align-items: center;
    margin: 15px;
    border-radius: 5px;
    box-shadow: #42424280 5px 5px 5px;
    background-size: contain;
    background-repeat: no-repeat;
}

article div {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    height: 100%;
    width: 150px;
    padding: 10px 30px 10px 0px;
    background-color: #FFFFFF;
}

article img {
    justify-self: flex-end;
}

article p {
    margin: 8px;
}
.none {
    display: none;
}

/*-- coloration de catégorie de véhicule --*/
.or {
    border: 1px solid gold;
    box-shadow: goldenrod 5px 5px 5px;
    color: goldenrod;
}

.argent {
    border: 1px solid silver;
    box-shadow: silver 5px 5px 5px;
    color: silver;
}


.bronze {
    border: 1px solid maroon;
    box-shadow: brown 5px 5px 5px;
    color: brown;
}

@media screen and (min-width: 960px) {
    main {
        flex-flow: row wrap;
    }

    button:hover {
        background-color: whitesmoke;
        color: #424242;
        padding: 10px 15px 10px 15px;
        border-radius: 5px;
    }

    article {
        flex-flow: column wrap;
        width: 30%;
        height: 300px;
        background-size: 100%;
        background-position: center;
    }

    article div {        
        justify-content: space-around;
        align-items: center;
        margin: 0;
        width: calc(100% - 10px);
        height: 30%;
        opacity: 0;
        border-radius: 5px;;
        margin: 5px;
        padding: 10px 0 10px 0;
    }

    article div:hover {
        opacity: 1;
        background-color: #424242;
    }

    #listeProduit {
        width: 55%;
        height: 100%;
    }
}