/*Construction Mobile First */
nav {
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #225332;
    width: 100vw;
    height: 100px;
    position: fixed;
}

nav div {
    text-align: center;
}
button {
    background-color: #424242;
    color: whitesmoke;
    padding: 10px 15px 10px 15px;
    border-radius: 5px;
}
footer {
    color: white;
    display: flex;
    justify-content: space-around;
    position: fixed;
    bottom: 0;
    background-color: #99030C;
    width: 100%;
    height: 100px;
}

#panier {
    background-color: #79977A;
    position: fixed;
    bottom: 100px;
    width: 100%;
    height: 50vh;
}

#panier ul {
    list-style: none;
    padding: 0;
}
.container {
    height: 90%;
    width: 100%;
    padding: 20px;
    display: flex;
    flex-flow: column wrap;
    justify-content: space-around;
    text-align: center;
}
table {
    margin: 10px;
}
#listeProduit {
    background-color: lightyellow;
    height: 100%;
    width: 55%;
    display: flex;
    flex-flow: column nowrap;
    overflow: scroll;
}

#listeProduit div{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    align-items: center;
    border: 1px solid black;
    margin:5px;
    overflow-y: hidden;
}
#listeProduit a{
    width: 20px;
    height: 20px;
    background-color: #424242;
}
footer div {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}

main {
    padding-top: 100px;
    padding-bottom: 100px;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
}

h2 {
    width: 100%;
    text-align: center;
}

h3 {
    margin-top: 0px;
}

/*______________ Style des cards______________ */
article {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-end;
    align-items: center;
    margin: 15px;
    border-radius: 5px;
    box-shadow: #42424280 5px 5px 5px;
    background-size: contain;
    background-repeat: no-repeat;
}

article div {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    width: 150px;
    margin: 30px;
}

article img {
    justify-self: flex-end;
}

article p {
    margin: 8px;
}

.none {
    display: none;
}
.or{
    border: 1px solid gold;
    box-shadow: gold 5px 5px 5px;
}
.argent{
    border: 1px solid silver;
    box-shadow: silver 5px 5px 5px;
}
.bronze{
    border: 1px solid maroon;
    box-shadow: maroon 5px 5px 5px;
}
@media screen and (min-width: 768px) {
}
